# ====================================================================
# SCRAPPER CONFIGURATION
# ====================================================================
ACCOUNT_NAME=
TARGET_USERNAME=
# ====================================================================
# AGENT INGEST VARIABLES
# ====================================================================
WPLBJM_API_BASE_URL_PROD=
WPLBJM_API_BASE_URL_DEV=
WPLBJM_WORDPRESS_DOMAIN=
WPLBJM_JWT_DEV=
WPLBJM_JWT_PROD=
WP_LOGIN_USERNAME=
WP_LOGIN_PASSWORD=
AI_STUDIO_KEY=
TELEGRAM_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
PUBLIC_BASE_URL=
SKILL_MD_PATH=.agents/skills/agent-postdraft/SKILL.md
